.section2-container {
    display: flex;
    flex-direction: column;     
    gap: 4rem;
}

.section2-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2-subtitle {
    font-size: 26px;
    color: #FBA403;
    margin: 0;
}

.section2-main-title {
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}