header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

@media (max-width: 415px) {
    header {
        width: 60vw;
        flex-direction: column;
    }

    .header_menu {
        flex-direction: column;
    }
}

.header_menu {
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.header-icons {
    display: flex;
    gap: 15px;
}

#image-span {
    border-left: 1px solid #393939;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #FBA403;
}