section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
}

.booking-form {
    padding: 30px;
}

.text {
    margin-bottom: 20px;
}

.subtitle, .main-title {
    margin: 0;
}

.subtitle {
    font-size: 26px;
    color: #fff;
}

.main-title {
    font-size: 50px;
    color: #fff;
}

#my, #ride {
    color: #FBA403;
}

#my {
    font-style: italic;
    font-weight: normal;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #2c2c2c;
    padding: 30px;
    border-radius: 5px;
}

.form-title {
    color: #fff;
    margin: 0;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset {
    display: flex;
    border-radius: 5px;
}

legend {
    color: rgba(255, 255, 255, 70%);
}

input {
    border:none;
    width:100%;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 0.2rem;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 40%;
    padding: 20px;
    background-color: #FBA403;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
